<launch>
  <include file="$(find skiros2_test_lib)/launch/main.launch">
    <arg name="primitive_list" value="[test_primitive]"/>
    <arg name="skill_list" value="[test_skill_parallel, test_skill_sequence, test_skill_sequence_of_parallels]" />
    <arg name="run_rviz" value="false" />
    <arg name="deploy" value="false" />
    <arg name="gui" value="true"/>
  </include>
</launch>
